.header {
  display: flex;
  justify-content: center;
  background-color: #67a23f;
  font-size: 20px;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    height: 120px;
    width: auto;
  }
}
